<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layout">
	<body>
		<section layout:fragment="content" style="width:100%">
				 <section class="updates no-padding-top">
		           <!-- Breadcrumb-->
		          <div class="breadcrumb-holder container-fluid">
		            <ul class="breadcrumb">
		              <li class="breadcrumb-item"><a href="/">Home</a></li>
		              <li class="breadcrumb-item active">Emergency</li>
		            </ul>
		          </div>
		         </section> 
		          <div class="container-fluid">
		            <div class="row">
						<div class="card-body text-center">
	                      <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary"> </button>
	                      <!-- Modal-->
	                      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
	                        <div role="document" class="modal-dialog">
	                          <div class="modal-content">
	                            <div class="modal-header">
	                              <h4 id="exampleModalLabel" class="modal-title">Success</h4>
	                            </div>
	                            <div class="modal-body">
	                              <p>successfully submitted the patient details.</p>
	                              <form>
	                                <div class="form-group">
	                                  <label>Reference Id</label>
	                                  <label th:text="${emergency}"></label>
	                                  
	                                </div>
	                                <div class="form-group">       
	                                  <label>Call customer care for status</label>
	                                </div>
	                               
	                              </form>
	                            </div>
	                            <div class="modal-footer">
	                              <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
	                            </div>
	                          </div>
	                        </div>
	                      </div>
	                    </div>		
		            </div>
		
		        </div>
		    </section>  
</body>
</html>