<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layout">
	<body>
		<section layout:fragment="content" style="width:100%">
		    <div class="page login-page">
		      <div class="container d-flex align-items-center">
		        <div class="form-holder has-shadow">
		          <div class="row">
		            <!-- Logo & Information Panel-->
		            <div class="col-lg-6">
		              <div class="info d-flex align-items-center">
		                <div class="content">
		                  <div class="logo">
		                    <h1>Daanee</h1>
		                  </div>
		                  <p>There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</p>
		                </div>
		              </div>
		            </div>
		            <!-- Form Panel    -->
		            <div class="col-lg-6 bg-white">
		              <div class="form d-flex align-items-center">
		                <div class="content">
		                  <form action="/auth/login" id="login-form" method="post" >
                                    <div class="form-group">
                                        <label for="username">User Name *</label>
                                        <input id="username" type="text" name="username"  class="form-control" placeholder="Please enter your user name *" required="required" data-error="name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password *</label>
                                        <input id="password" type="password" name="password" required  class="form-control" placeholder="Please enter your password *"  data-error="password is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
		                  
		                   <!--  <div class="form-group">
		                      <input id="login-username" type="text" name="username" required class="required">
		                      <label for="username" class="label-material required">User Name</label>
		                    </div>
		                    <div class="form-group">
		                      <input id="login-password" type="password" name="password" required class="required">
		                      <label for="password" class="label-material required">Password</label>
		                    </div> -->
		                    
		                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		                    <!-- <a id="login" href="index.html" class="btn btn-primary">Login</a> -->
		                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
		                  </form><a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="http://localhost:8082/registration" class="signup">Signup</a>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		 </section>
  	</body>
</html>
